# Database
DATABASE_URL="postgresql://user:password@localhost:5432/igl"

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="YOUR_GENERATED_SECRET"

# Stripe
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."